*{
    font-family: fantasy;
}
body{
    overflow-x: hidden;
    
}

.pic1{
    z-index:1;
    height: 640px;
    width: 100%;
    
   
}

.nav{
    background-color: #f3f3f3;
    height:80px;
    width: 100%; 
    
}
.nav-link{
    margin-top: 10px;
    font-size: 20px;
    color:#000;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.logo{
    width: 150px;
    margin-right: 800px;
    margin-top: -10px;
}
.small{
    margin-bottom: 20px;
    width: 40px;
    height: 40px;
}

/***************************************/
.propos{
    margin-top: 40px;
    color:#003a63;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0 0 5px #647be6;
}
.propos:hover{
    color: royalblue;
}
.parag{
    margin-top: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 3px #647ce66e;
}
.afficher{
    font-family: fantasy;
    
}
.affi{
    
 background: url(img20.png) right bottom no-repeat, url(img20.png) left top repeat;
 padding : 15px;
      
}

.container{
    margin-top: 60px;
}
.card{
    width: 200px;
    margin-top: 30px;
    margin-left: 150px;
    box-shadow: 2px 8px 8px 2px rgba(30, 67, 230, 0.781), 0 6px 20px 0 rgba(164, 141, 228, 0.253);
    text-align: center;
      
    
}
.anim{
    border-radius: 10px;
}
.anim:hover{
    width: 200px;
}
.button{
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 9px #999;
    
}
.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .pagination a {
      display: block;
    color: black;
    float: right;
    padding: 8px 16px;
    text-decoration: none;
  }
  
      
  


/********footer*******************************************/
.flex{
    margin-bottom: 50px;
    display: flex;
    flex-direction: row; 
    background-color: #f3f3f3;
    justify-content: space-around;
    border-radius: 15px 50px 30px;
    padding: 20px;
    width: 100%;
    height: 500px;
      
}
.go{
    width: 200px;
}
.lorem{
    border: solid , #f3f3f3;
    width: 400px;
    text-align:left;
    font-family: 'Times New Roman', Times, serif;
    
}
.map{
    width: 400px;
    margin-bottom: 80px;
}
.copy{
    width: 100px;
    margin-bottom: 400px;
}
/***************************cards*******************/
